<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: whitesmoke">Great things take time! Dont they?</p>
</ngx-spinner>
<div class="container-fluid" [ngStyle]="{backgroundImage:'url(./assets/img/blog-pic3.jpg)'}">
    <div class="row" ngif='currentBlog'>
        <div class="jumbotron">
            <h1 class="display-4">{{currentBlog.title}}</h1>
            <p class="lead">{{currentBlog.description}}</p>
            <hr class="my-4">
            <p>{{currentBlog.bodyHtml}}</p>
            <a class="btn btn-primary btn-md mr-4" [routerLink]="['/edit',currentBlog.blogId]" role="button">Edit</a>
            <a class="btn btn-primary btn-md" (click)="blogDelete()" role="button">Delete</a>

        </div>
    </div>
</div>