<body [ngStyle]="{backgroundImage:'url(./assets/img/blog-hp.jpg)'}">
    <div class="container">

        <div class="rows" *ngIf='blogData.length>0'>

            <div *ngFor="let blog of blogData">


                <div class="card border-primary col-md-5 card-layout shadow lg mb-5 bg-white rounded">
                    <!-- <img class="card-img-top" src="image1.jpg" alt="Card image cap"> -->
                    <div class="card-body ">
                        <h5 class="card-title font-weight-bold text-dark text-uppercase title">{{blog.title}}</h5>

                        <p class="card-text">{{blog.description}}</p>
                        <br>

                        <a [routerLink]="['/blog',blog.blogId]" class="btn btn-secondary btn-block">View</a>
                    </div>


                </div>

            </div>
            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
                <p style="color: white">Please Wait. </p>
            </ngx-spinner>
        </div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

            <a class="navbar-brand" [routerLink]="['/home']">BlogSpot</a>


            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Created by Kalyan</a>
                </li>

            </ul>
        </nav>

        <router-outlet></router-outlet>
    </div>
</body>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Holdon for a while, We're getting your blogs </p>
</ngx-spinner>